body{
	background-image:url(9-1.jpg);
	background-attachment:fixed;
}
.login{
	width:300px;
	height:410px;
	background-image:url(1-2.png); 
	margin:20px 500px 0px;
	padding:20px;
}
h1{
	text-align:center;
	padding:100px 0px 0px;
}

h2{
	text-align:center;
	padding:0px 0px 60px;
}

.login p{
	text-align:center;
	font-size:20px;
	margin-bottom: 10px;
}
.login input[type="submit"]
{
	border:none;
	outline:none;
	border-radius: 20px;
	height:40px;
	background:blue;
	width:50%;
	text-align: center;
	margin-left:75px;
	margin-bottom:15px;

}
.login input[type="submit"]:hover
{
	cursor:pointer;
	background:lime;
}

.login input[type="text"],input[type="password"]
{
	font-size: 14px;
	text-align:center;
	width:100%;
	border-style: none;
	outline: none;
	border-bottom:1px solid black;
	background: transparent;
	height:30px;
	font-style:italic;
}
.login a
{
	margin-left:180px;
}
.login a:link
{
	color:blue;
	background-color:transparent;
	text-decoration:none;
}
.login a:visited
{
	color:blue;
	background-color:transparent;
	text-decoration:none;
}
.login a:hover
{
	color:yellow;
	background-color:transparent;
	text-decoration:underline;
}
:-ms-input-placeholder {
    color:blue;
}