body{
	background-image:url(15-1.jpg);
	background-attachment:fixed;
}
h1{
	text-align:center;
	padding:25px 0px 0px;
}
.signup{
	width:300px;
	height:490px;
	background-color:transparent; 
	margin:0px 500px 0px;
	padding:5px 20px 20px;
}
.signup p{
	text-align:left;
	font-size:18px;
	margin-bottom:2px;
}
.signup input[type="submit"]
{
	border:none;
	outline:none;
	border-radius: 20px;
	height:40px;
	background:indigo;
	width:50%;
	text-align: center;
	margin-top:20px;
	margin-left:75px;
	margin-bottom:0px;

}

.signup input[type="submit"]:hover
{
	cursor:pointer;
	background:lime;
}
.signup input[type="text"],input[type="password"],input[type="Date"]
{
	font-size: 14px;
	text-align:left;
	width:100%;
	border-style:none;
	border-radius:8px; 
	outline: none;
	border-bottom: 3px solid blue;
    background-color:transparent;
	height:30px;
	font-style:italic;
}

.signup a:link
{
	color:blue;
	background-color:transparent;
	text-decoration:none;
}
.signup a:visited
{
	color:blue;
	background-color:transparent;
	text-decoration:none;
}
:-ms-input-placeholder {
    color:blue;
}